In [77]:
def my_function():
    print("Hello from a function")

In [78]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [79]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [80]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [81]:
#INCORRESCT
"""
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil)

"""

'\ndef my_function(fname, lname):\n    print(fname + " " + lname)\n\nmy_function("Emil)\n\n'

In [82]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [83]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = 'Tobias', child3 = "Linus")

The youngest child is Linus

In [84]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [85]:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [86]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [87]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [88]:
def my_function():
    pass

In [89]:
def my_function(x, /):
    print(x)

my_function(3)

3

In [90]:
def my_function(x):
    print(x)

my_function(x = 3)

3

In [91]:
# INCORRECT
"""
def my_function(x, /)
    print(x)

my_function(x = 3)
"""

'\ndef my_function(x, /)\n    print(x)\n\nmy_function(x = 3)\n'

In [92]:
def my_function(*, x):
    print(x)

my_function(x = 3)

3

In [93]:
def my_function(x):
  print(x)

my_function(3)

3

In [94]:
#INCORRECT
"""
def my_function(*, x):
  print(x)

my_function(3)
"""

'\ndef my_function(*, x):\n  print(x)\n\nmy_function(3)\n'

In [95]:
def my_function(a, b, /, *, c, d):
    print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [96]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21